<launch>
    <!-- 将关节控制器的配置参数加载到参数服务器中 -->
    <rosparam file="$(find jaka_gazebo)/config/arm_gazebo_joint_states.yaml" command="load"/>

    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/jaka" args="joint_state_controller " />

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/jaka/joint_states" />
    </node>

    <node name="joint_controller_spawner2" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/jaka" args="joint1_position_controller
                                            joint2_position_controller" />
</launch>
