<?xml version="1.0"?>
<launch>
    <!-- Launch empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false" />
        <arg name="debug" value="false" />
    </include>
    
    <param name="robot_description" command="$(find xacro)/xacro  '$(find Zu7)/urdf/jaka.urdf.xacro'" />
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model robots" /> -->
 
    <rosparam file="$(find camhead)/config/unite_gazebo_controller.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner"  args="joint_state_controller" respawn="false" output="screen" />

    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/camhead" args="joint_state_controller" />-->
 
    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>
 
</launch>
